.inputLabel {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #202020;
}

#id-root {
    display: flex;
    flex-direction: column;
}
#id-formContainer {
    width: 90%;
    max-width: 800px;
    align-self: center;
    border-radius: 10px;
    border: 1px solid #202020;
    background-color: #FAFAFA;
    padding: 20px;
}

#id-gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr auto auto;
    grid-template-areas: "name name"
                            "email age"
                            "cpf cep"
                            "occupation occupation"
                            "objectives objectives"
                            "photo photo";
}

#id-nameInputDiv {
    grid-area: name;
}
#id-emailInputDiv {
    grid-area: email;
}
#id-ageInputDiv {
    grid-area: age;
}
#id-cpfInputDiv {
    grid-area: cpf;
}
#id-cepInputDiv {
    grid-area: cep;
}
#id-objectivesInputDiv {
    grid-area: objectives;
}
#id-occupationInputDiv {
    grid-area: occupation;
    align-items: center;
    flex-direction: row;
}
#id-photoInputDiv {
    grid-area: photo;
    align-items: center;
}

#id-objectivesInputDiv textarea {
    min-height: 80px;
}
#id-occupation {
    width: 150px;
    height: 30px;
    margin-left: 20px;
}

#id-previewPhoto {
    border: 1px solid #D0D0D0;
}

#id-sendPhoto {
    padding: 10px;
}

#id-ENVIARFOTO {
    color: white;
    background-color: black;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 4px;
}
.inputContainer input, textarea {
    margin: 5px;
    height: 30px;
    margin-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ada4a4;
    border-radius: 3px;
}
.inputContainer label {
    margin-left: 10px;
}
