body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSrq8bSTe9Urd-jlPF5RBSqR0CrLciHfyr6BQ&usqp=CAU");
}
.inputLabel {
    font-size: 20px;
    color: #202020;
}

#id-root {
    display: flex;
    flex-direction: column;
}
#id-formContainer {
    width: 90%;
    max-width: 800px;
    align-self: center;
    border-radius: 10px;
    background-color: #FAFAFA;
    padding: 20px;
    box-shadow: 10px 10px 35px -10px #404040;
    border: 3px solid #B0B0B0;
}

#id-gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr auto auto;
    grid-template-areas: "name name"
                            "email age"
                            "cpf cep"
                            "occupation occupation"
                            "objectives objectives"
                            "photo photo"
                            "submit submit";
}

#id-nameInputDiv {
    grid-area: name;
}
#id-emailInputDiv {
    grid-area: email;
}
#id-ageInputDiv {
    grid-area: age;
}
#id-cpfInputDiv {
    grid-area: cpf;
}
#id-cepInputDiv {
    grid-area: cep;
}
#id-objectivesInputDiv {
    grid-area: objectives;
}
#id-occupationInputDiv {
    grid-area: occupation;
    align-items: center;
    flex-direction: row;
}
#id-photoInputDiv {
    grid-area: photo;
    align-items: center;
    position: relative;
}

#id-objectivesInputDiv textarea {
    min-height: 80px;
}
#id-submitButtonDiv {
    display: flex;
    justify-content: flex-end;
    grid-area: submit;
}

#id-occupation {
    width: 150px;
    height: 30px;
    margin-left: 20px;
}

#id-previewPhoto {
    border: 1px solid #D0D0D0;
}

/* Esse input type="file" deve ficar invisível pois a estilização está sendo feita no label */
#id-sendPhoto {
    /* Eu poderia usar display: none, mas o browser não iria exibir a mensagem bonita
    ** "Selecione um arquivo". Não funcionaria em IE8 também, nãa que importe pra esse projeto */
    pointer-events: none;
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 10px;
    width: 1px;
    height: 1px;
}

#id-sendPhotoLabel {
    padding: 15px;
    margin: 10px;
    background-color: #404040;
    color: #E0E0E0;
    border-radius: 5px;
    cursor: pointer;
}

#id-submitButton {
    background-color: #a6c2b5;
    color: #404040;
    border-radius: 5px;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    margin: 30px;
    margin-bottom: 15px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 4px;
}
.inputContainer input, textarea {
    margin: 5px;
    height: 30px;
    margin-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ada4a4;
    border-radius: 3px;
}
.inputContainer label {
    margin-left: 10px;
}
